.slogan h1{
	font-size: 60px;
    background-color: #f4f4f4;
    padding: 30px;
    margin: 0 auto 0px;
    letter-spacing: 4px;
    word-spacing: 20px;
    font-weight: bold;
    text-align: center;
}

.home-banner{
	background: #0789c0;
  color: white;
  padding: 18px 0px;
  margin: 0;
}

.home-column h3 {
	font-size: 14px;
	color: #777;
	margin: 4px;
}


/* Create three equal home-columns that floats next to each other */

.home-column {
	float: left;
	width: 33.33%;
	padding: 10px;
	background-color: #eee;
	/*height: 250px;*/
}

.home-column img{
	width:100%
}

.home-column a {
	float: none;
	color: #333;
	font-weight: normal;
	padding: 6px 4px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	border:1px solid #ddd;
	background:#fefefe;
}

.home-column a:hover {
	background-color: #8bc540;
	color: #fff;
	padding-bottom: 4px;
}


/* Clear floats after the home-columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.hotel-content{
  text-align: center;
  border-bottom: 3px solid #ff864f;
  background: #fff;
}

.hotel-content div{
  display: inline-block;
  width: 11.5%;
}

.hotel-content div img{
  width: 80%;
}

@media screen and (max-width: 1024px) {
		.slogan h1{letter-spacing:0px;word-spacing:20px; font-weight:bold;font-size:24px !important;}
}
@media screen and (max-width: 900px) {
		.slogan h1{letter-spacing:0px;word-spacing:0px; font-weight:bold;font-size:40px}
}
@media screen and (max-width: 400px) {
	.home-column {
		width: 100%;
		height: auto;
	}
}